@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
  backdrop-filter: 5px;

  background-color: #e5e5f7;
  background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#ad7a82 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #444df771 0.8px, #e5e5f7 0.8px) -0.4px 0;
  background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}

h3 {
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wins {
  font-size: 24px;
  font-weight: bold;
  margin-right: 16px;
}

.players {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #ff7086;
}

.count {
  font-size: 24px;
  font-weight: bold;
}


@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}